@keyframes fadeInUp {
    from {
        transform: translate3d(0,12px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,12px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        transform: translate3d(0,1px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        transform: translate3d(0,1px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
.no-underline {
    text-decoration: none !important
}
.marg-cus {
    margin-top: 5rem !important;
}

.cus{
    position:fixed;
    top:24%;
    left:12%
}
.text-cus{
    position:relative;
    display:block;
    overflow:hidden
}
.side-cus{
    position:absolute;
    top:20vh;
    left:50%;
    right:15%;
    padding-bottom:34vh
}
.tab-back{
    background-color: #E0E0E0
}


@media screen and (max-width:1024px) {
    .side-cus {
        top:90vh;
        left: 0;
        right: 0;
        background: #fff;
        padding: 15%
    }
    .cus{
        position:fixed;
        margin-left: -12px;
        top:40%;
        left:40%
    }
    .tab-back{
        background-color: transparent;
    }
    #avatar .img-cus{
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 100px;
    }
    #avatar {
        position: fixed;
        top:45%;
        padding-left: 10vw;
    }
    #swUp {
        display: block;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #343a40;
}
.fa-map-signs {
    color: #78909C;
}
.fa-github:hover {
    color:#6e5494;
}
.fa-linkedin-in:hover {
    color: #0077B5;
}
.fa-envelope:hover {
    color: #D44638;
}
.fa-spotify:hover {
    color: #1DB954;
}
.fa-map-signs:hover {
    color: #343a40;
}
#bolt .fa-bolt {
    color: #FDD835;
    transition: 0.1s ease-out;
}
#bolt:hover .fa-bolt {
    color: #FBC02D;
    transition: 0.1s ease-in;
}

#source-link .fa-github {
    color: #17a2b8;
}

#source-link:hover .fa-github {
    color: #6e5494;
}


.devicon-java-plain-wordmark:hover {
    color: #007396;
}
.devicon-python-plain-wordmark:hover {
    color: #ffde57;
}
.devicon-c-line-wordmark:hover {
    color: #7f8a99;
}
.devicon-cplusplus-line-wordmark:hover {
    color: #649ad2;
}
.devicon-csharp-line-wordmark:hover {
    color: #a078db;
}
.devicon-html5-plain-wordmark:hover {
    color: #e34f26;
}
.devicon-css3-plain-wordmark:hover {
    color: #2162af;
}
.devicon-bootstrap-plain-wordmark:hover {
    color: #563d7c;
}
.devicon-nodejs-plain:hover {
    color: #699f63;
}
.devicon-dot-net-plain-wordmark:hover {
    color: #652076;
}
.devicon-git-plain-wordmark:hover {
    color: #f34f29;
}
.devicon-travis-plain-wordmark:hover {
    color: #DB4545;
}
.fa-aws:hover {
    color: #202b3c;
}

#avatar {
    position:fixed;
    bottom: 0;
    left: 4%;
    z-index: -1;
}
#avatar .img-cus{
    opacity: 0.55;
}
.social-icon {
    color: #343a40;
    transition: all 0.3s ease-out;
    margin-right: 2px;
    margin-left: 2px;
}
.social-icon:hover {
     transform: translateY(-5px) scale(1.5,1.5);
     transition: all 0.1s ease-in;
}
.lang .social-icon:hover {
    transform: scale(1.5,1.5);
    transition: 0.2s ease-in;
}
.site-header .nav-link {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 2px;
}
.site-header .nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #f1c40f;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.site-header .nav-link:hover:before {
    left: 0;
    visibility: visible;
    transform: scaleX(1);
}
.nav-pills .nav-link.active {
    background-color: transparent;
}
.project a {
    color: #343a40;
    transform: translateY(-5px) scale(1.5,1.5);
}

#swUp {
    display: none;
    position: relative;
    bottom: -100%;
    left: 15%;
}

.big-icon {
    font-size: 180%;
    margin: 3px;
}

.arrow {
    position: relative;
    display: inline-block;
    transition: transform .25s ease;
}

.arrow:before {
    pointer-events: none;
    content: "➥";
    color: #343a40;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translateX(-1.5em) translateZ(0);
    transition: transform .4s ease, opacity .4s ease;
}

a:hover .arrow,
.arrow:hover {
    transform: translateX(1em) translateZ(0);
}

a:hover .arrow:before,
.arrow:hover:before {
    transform: translateX(-1em) translateZ(0);
    opacity: 1;
}