@keyframes fadeInUp {
    from {
        transform: translate3d(0,12px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,12px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        transform: translate3d(0,1px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        transform: translate3d(0,1px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
.no-underline {
    text-decoration: none !important
}
.marg-cus {
    margin-top: 5rem !important;
}

.cus{
    position:fixed;
    top:24%;
    left:12%
}
.text-cus{
    position:relative;
    display:block;
    overflow:hidden
}
.side-cus{
    position:absolute;
    top:20vh;
    left:50%;
    right:15%;
    padding-bottom:34vh
}
.tab-back{
    background-color: #E0E0E0
}
@media screen and (max-width:1024px) {
    .side-cus{
        position:absolute;
        top:20vh;
        left:65%;
        right:15%;
        padding-bottom:34vh
    }

}
@media screen and (max-width:767px) {
    .side-cus {
        top:90vh;
        left: 0;
        right: 0;
        background: #fff;
        padding: 15%
    }
    .cus{
        position:fixed;
        margin-left: -12px;
        top:40%;
        left:40%
    }
    .tab-back{
        background-color: transparent;
    }
    #avatar .img-cus{
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 100px;
    }
    #avatar {
        position: fixed;
        top:45%;
        left:35%;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #343a40;
}
.fa-map-signs {
    color: #78909C;
}
.fa-github:hover {
    color:#6e5494;
    transform: translateY(-5px) scale(1.5,1.5);
}
.fa-linkedin-in:hover {
    color: #0077B5;
    transform: translateY(-5px) scale(1.5,1.5);
}
.fa-envelope:hover {
    color: #D44638;
    transform: translateY(-5px) scale(1.5,1.5);
}
.fa-map-signs:hover {
    color: #343a40;
}
.fa-github:target {
    color:#6e5494;
}
.fa-linkedin-in:target {
    color: #0077B5;
}
.fa-envelope:target {
    color: #D44638;
}
#bolt .fa-bolt {
    color: rgba(241,196,15, 0.65);
}
#bolt:hover .fa-bolt {
    color: rgba(241,196,15, 1);
}

#source-link .fa-github {
    color: #17a2b8;
}

#source-link:hover .fa-github {
    color: #6e5494;
}
#avatar {
    position:fixed;
    bottom: 0;
    left: 8%;
    z-index: -1;
}
#avatar .img-cus{
    opacity: 0.55;
}
.social-icon {
    color: #343a40;
    transition: all 0.1s ease-in;
    margin-right: 2px;
    margin-left: 2px;
}
.site-header .nav-link {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 2px;
}
.site-header .nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #f1c40f;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.site-header .nav-link:hover:before {
    left: 0;
    visibility: visible;
    transform: scaleX(1);
}
.nav-pills .nav-link.active {
    background-color: transparent;
}
.project a {
    color: #343a40;
}
